<% include partials/header %>

<h2> Post a New Products </h2>
<form action="/products" method="POST">
    <input type="text" name="brand" placeholder="brand">
    <input type="productID" name="productID" placeholder="product ID">
    <input type="text" name="image" placeholder="image url">
    <button>Submit!</button>
    
</form>

<% include partials/footer%>