<% include partials/header %>


<h1>This is the Products pages</h1>

<% products.forEach(function(product){ %>
    <div>
        <h4><%= product.brand %></h4>
        <h4><%= product.id %></h4>
        <img src="<%= product.image %>">
        
    </div>
<% }); %>

<% include partials/footer %>
