<% include partials/header %>


<h1><%=product.brand%></h1>

<h2><%=product.productID%></h2>

<div>
    <img src="<%= product.image %>">
</div>

<p><%= product.description %></p>




<% include partials/footer %>